

.container{
    margin-top: 100px;
    /*  */
    padding: 20px 40px;
    overflow: hidden;
    background: url('../public/Clipart/backgroundImg.jpg') center / cover no-repeat fixed;
}

.head{
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    width: 85%;
    border-bottom: 2px solid #dadadd;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    cursor: pointer;
    padding: 10px 5px;
}

.container_body{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.container_body_box{
    width: 47%;
    margin: 20px;
    padding: 20px;
    display: flex;
    height: 310px;
    flex-direction: column;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
}

.arrange_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_body_box h1{
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(63, 0, 134);
    max-width: 400px;
    max-height: 70px;
    padding: 5px 10px;
}

.container_body_box p{
    color: #333;
    max-width:350px ;
    line-height: 1.4;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top: 95px;
} 


@media only screen and (max-width: 600px) {
    
    .head{
        text-align: center;
        font-size: 1.4rem;
    }

    .container{
        margin-top: 0px;
        padding: 5px 10px;
    }
    
    .container_body_box{
        width: 100%;
        margin: 20px 0px;
        height: 360px;
    }

    .arrange_box{
    align-items: center;
    }
    
    .container_body_box p{
        line-height: 1.4;
        font-size: 1rem;
        top: 150px;
        max-width:320px ;
    } 

  }