
.container{
    margin-top: 100px;
    height: 165vh;
    padding: 20px 40px;
    overflow: hidden;
    background: url('../public/Clipart/backgroundImg.jpg') center / cover no-repeat fixed;
}

.head{
    font-size: 1.5rem;
    gap: 2rem;
    width: 85%;
    border-bottom: 2px solid #dadadd;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    cursor: pointer;
    padding: 10px 5px;
}

.title::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: rgb(63, 0, 134);
    margin-top: 45px;
    visibility: hidden;
    transition: all .3s linear;

}

.title:hover::after{
    visibility: visible;
    width: 200px;
}

.head_1::after{
    left: 270px;
}
.head_2::after{
    left: 623px;
}
.head_3::after{
    left: 953px;
}

.container_body{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
}

.container_body_box{
    width: 47%;
    margin: 20px;
    padding: 20px;
    display: flex;
    height: 310px;
    flex-direction: column;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
}

.arrange_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container_body_box h1{
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(63, 0, 134);
    max-width: 300px;
    max-height: 70px;
    padding: 5px 10px;
}

.container_body_box p{
    color: #333;
    max-width:350px ;
    line-height: 1.4;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top: 95px;
} 

@media only screen and (max-width: 600px) {
    
    .head{
        font-size: 1.4rem;
        flex-direction: column;
        text-align: center;
        gap: .5rem;
        border: none;
    }

    .title::after{
        margin-top: 35px;    
    }
    
    .title:hover::after{
        visibility: visible;
        width: 200px;
    }
    
    .head_1::after, .head_2::after, .head_3::after{
        left: 100px;
    }

    .container{
        margin-top: 0px;
        height: 280vh;
    }
    
    .container_body_box{
        width: 100%;
        margin: 20px 10px;
    
    }

    .container_body{
        left: 0px;
    }

    
    .container_body_box p{
        line-height: 1.4;
        font-size: 1rem;
        top: 145px;
        left: 20px;
        max-width:320px ;
    } 
  }