.container {
  margin-top: 100px;
  background: url("../public/images/backgroundImg.jpg") center / cover no-repeat fixed;
  /* height: 530vh; */
  /* min-height: auto; */
  padding: 20px 40px;
  overflow: hidden;
}

.container_body_box{
  position:relative;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 5px 10px;
    /* height: 960vh; */
  }

  .container_body_box {
    margin: 20px 0px;
    height: 360px;
  }

  .arrange_box {
    align-items: center;
  }
}
